:root {
    --cor-fundo: #c8fcd8;      
    --cor-texto: #333333;       
    --cor-cabecalho: #a9aca9;    
    --cor-nav: #87c287;        
  }
  
  body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header, footer {
    background-color: var(--cor-cabecalho);
    padding: 1em;
  }
  
  nav {
    background-color: var(--cor-nav);
    padding: 0.5em;
  }
  
  nav a {
    color: var(--cor-texto);
    text-decoration: none;
    margin-right: 1em;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 1em;
  }
  
  section {
    margin-bottom: 1em;
  }
  
  
  .dev-card {
    background-color: var(--cor-fundo); 
    border: 1px solid var(--cor-nav);
    padding: 1em;
    margin: 1em 0;
    border-radius: 5px;
  }
  
  .dev-card img {
    width: 100px;
    height: 100px;
    border: 2px solid var(--cor-cabecalho);
    border-radius: 50%;
    margin-right: 1em;
  }
body {
    background-color: #d0fcd0; 
    color: var(--cor-texto);  
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  table {
    background-color: #e0ffe0; 
    border: 1px solid #000000; 
    width: 100%;
    border-collapse: collapse;
  }
  
  th {
    background-color: #a3a3a3; 
    color: #333333;         
    padding: 0.5em;
  }
  
  td {
    background-color: #ffffff; 
    padding: 0.5em;
    border: 1px solid #022e02; 
  }
  
  
  
  